<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
        namespace="com.contract.inform.modules.history.dao.HistoryMapper">
    <cache-ref
            namespace="com.contract.inform.modules.history.dao.HistoryMapper" />

    <select id="queryProjectHistory"
            resultType="com.contract.inform.modules.history.form.ProjectHistoryView">
        SELECT *
        FROM contract c
        left join income_outcome_history i
        on c.project_number = i.project_number
        where
        (c.project_number, version)
        IN
            (SELECT c.project_number, MAX(version)
            FROM contract_inform_form.contract c
            group by c.project_number)
        AND c.project_number = #{projectNumber}
    </select>

    <select id="queryHistoryByProjectNumber"
            resultType="com.contract.inform.modules.history.entity.IncomeOutcomeHistory">
    select *
    from income_outcome_history
    where
    project_number = #{projectNumber}
    </select>

    <update id="updateByProject"
            parameterType="com.contract.inform.modules.history.entity.IncomeOutcomeHistory">
        update income_outcome_history
        <set>
            <if test="accumulatedRevenue != null">accumulated_revenue = #{accumulatedRevenue},</if>
            <if test="currentTwoAmount != null">current_two_amount = #{currentTwoAmount},</if>
            <if test="unfinishedConstructionFee != null">unfinished_construction_fee = #{unfinishedConstructionFee},</if>
            <if test="accountsReceivable != null">accounts_receivable = #{accountsReceivable},</if>
            <if test="accumulatedActualCharges != null">accumulated_actual_charges = #{accumulatedActualCharges},</if>
            <if test="currentCharge != null">current_charge = #{currentCharge},</if>
            <if test="accumulatedActualPayment != null">accumulated_actual_payment = #{accumulatedActualPayment},</if>
            <if test="currentPayment != null">current_payment = #{currentPayment},</if>
            <if test="profitDeviation != null">profit_deviation = #{profitDeviation},</if>
            <if test="settlementRevenueProportion != null">settlement_revenue_proportion = #{settlementRevenueProportion},</if>
            <if test="actualChargeProportion != null">actual_charge_proportion = #{actualChargeProportion},</if>
            <if test="actualPaymentProportion != null">actual_payment_proportion = #{actualPaymentProportion}</if>
        </set>
        where
            project_number = #{projectNumber}
    </update>
</mapper>
