<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
        namespace="com.contract.inform.modules.history.dao.HistoryMapper">
    <cache-ref
            namespace="com.contract.inform.modules.history.dao.HistoryMapper" />

    <select id="queryProjectHistory"
            resultType="com.contract.inform.modules.history.form.ProjectHistoryView">
        SELECT *
        FROM contract c
        left join income_outcome_history i
        on c.project_number = i.project_number
        where
        (c.project_number, version)
        IN
            (SELECT c.project_number, MAX(version)
            FROM contract_inform_form.contract c
            group by c.project_number)
        AND c.project_number = #{projectNumber}
    </select>

    <select id="queryHistoryByProjectNumber"
            resultType="com.contract.inform.modules.history.entity.IncomeOutcomeHistory">
    select *
    from income_outcome_history
    where
    project_number = #{projectNumber}
    </select>
</mapper>
